.searchComponent {
  margin-right: auto;
  margin-left: auto;
}

.centerizedContent {
	margin: 0 auto;
}

.weatherReportItem {
	background-color:lightgray;
	margin-bottom: 5px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 20px;
}

.weatherTitleReportItem {
	border-top-left-radius:0.27em;
	border-top-right-radius:0.27em;
	background-color:#BDBDBD;
	margin-bottom: 5px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 20px;
}

#map-canvas { 
	height: 100%;
	position: fixed;
}

#midSection {
	height: 100%; 
	background-color: lightgray; 	
}

#midSectionOffline {
	height: 100%;
}


body, html {
	height: 100%;
	
	background-color: #F7F7F0;
}
/*
#cityInput {
	position: absolute;
	z-index: 1;
	width: 300px;
}*/

#submitButton{
	position: relative;
	/*float: left;*/
	left: 0px;
	z-index: 1;
}

/*
#buttonSendQuery {
	position: relative;
	left: 160px;
	left:0px;
	z-index: 1;		
}*/

.container {
	background-color: white;
}

#searchTools {
	position: absolute;
	top: 60px;
	left: 50px;
	width: 500px;
	z-index: 1;
}

#signInOutTool {
	position: relative;
	margin-bottom: 0;
	margin-top: 50px;
}

#searchResultChunk {
	margin-top: 50px;
	
	padding-left: 20px;
}

#offlineNotice {
	width: 100%;
	background-color: #9ED2FF;
	padding-top: 20px;
	padding-bottom: 20px;
}

#offlineText {
	text-align: center;
	font-size: 1.2em;
}

.weatherSymbolImage {
	margin-left: 30px;
	margin-right: 30px;
}

.rotation {
	position: relative;
	top: 450px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

.rotation h1 {
	font-size: 7em;
	color:lightgray;
}

.rotationOffline {
	position: relative;
	top: 450px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

.rotationOffline h1 {
	font-size: 7em;
	color:lightgray;
}

#searchResultArea {
	width: 250px;
}

#favouritesListTitle {
	background-color:#F5E3FA;
	margin-top: 45px;
	margin-bottom: 5px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 20px;

	border-top-left-radius:0.27em;
	border-top-right-radius:0.27em;

}

#favouriteList {
	background-color:#F5E3FA;
	margin-bottom: 5px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 20px;

	border-bottom-left-radius:0.27em;
	border-bottom-right-radius:0.27em;

}


/*
	background: rgb(54, 25, 25);
    background: rgba(54, 25, 25, .5);
	z-index: 5;	
	position: relative;
*/