.searchComponent {
  margin-right: auto;
  margin-left: auto;
}

.centerizedContent {
	margin: 0 auto;
}

.weatherReportItem {
	background-color:lightgray;
	margin-bottom: 5px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#map-canvas { 
	height: 100%;
}

#midSection {
	height: 100%; 
	background-color: lightgray; 	
}

body, html {
	height: 100%;
}