<!DOCTYPE html>
		<html>
			<head>
				<title>VadfanblirdetförväderPUNKTse</title>
				<script src='https://apis.google.com/js/client:platform.js' async defer></script>
				<script src = 'https://plus.google.com/js/client:plusone.js'></script>
				<script type='text/javascript' src='../scripts/logonScript.js'></script>
			</head>
			<body>
				<div class='container' style='height:100%'>
					<div id='gConnect' class='button'>
					    <button class='g-signin'
					      data-scope='email'
					      data-clientid='1007777563828-qf7sfjkv028b4ir0e3sk6slc1kji3m9q.apps.googleusercontent.com'
					      data-callback='onSignInCallback'
					      data-theme='dark'
					      data-cookiepolicy='single_host_origin'>
					    </button>
					</div>
				</div>
			</body>
			  <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
		      <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
			</html>